body{
height: 100vh;
background-image: url(./image/keyboard-70506_640.jpg);
background-repeat: no-repeat;
background-size: cover;

}

span
{
    cursor: pointer;
    transition: 0.4s;

}
span:hover
{
    transform: scale(0.9);


}
 .content{
    /* width: 80vw;
    height: 80vh; */
    gap: 20px;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;*/

}
#home-page{
    background-color: rgba(135, 206, 250, 0.536)

}